In [34]:
from final_project import *

In [43]:
signals1 = load_subjects()
signals2 = load_subjects()
signals3 = load_subjects()

In [ ]:
non_fid_features_b, non_fid_features_values_b = non_fiducial_features_bonus_preprocessing(signals1)

In [48]:
type(non_fid_features_values_b)

list

In [52]:
len(non_fid_features_values_b)

10

In [54]:
df1 = pd.DataFrame(non_fid_features_values_b[0])
df2 = pd.DataFrame(non_fid_features_values_b[1])
df3 = pd.DataFrame(non_fid_features_values_b[2])
df4 = pd.DataFrame(non_fid_features_values_b[3])
df5 = pd.DataFrame(non_fid_features_values_b[4])
df6 = pd.DataFrame(non_fid_features_values_b[5])
df7 = pd.DataFrame(non_fid_features_values_b[6])

In [55]:
Data = pd.concat([df1, df2, df3, df4, df5, df6, df7], ignore_index=True)

In [57]:
Data.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,5.395555,5.409450,5.406529,5.354149,5.683511,4.421094,0.101043,-0.757927,-0.787183,-0.648457,...,-0.247885,-0.270287,-0.303115,-0.313562,-0.362761,-0.484530,-0.307087,0.149008,-0.045633,1.0
1,5.424897,5.442171,5.437638,5.379841,5.743223,4.355831,0.105143,-0.691530,-0.732095,-0.619256,...,-0.295524,-0.318051,-0.323567,-0.340800,-0.360009,-0.425667,-0.223256,0.167578,-0.164748,1.0
2,5.832266,5.849857,5.845597,5.784263,6.169253,4.697847,0.080650,-0.753078,-0.734359,-0.592052,...,-0.412551,-0.433928,-0.471581,-0.488298,-0.268712,0.129133,-0.288396,-0.556210,-1.861899,1.0
3,6.023121,6.040406,6.036284,5.973749,6.367676,4.860820,0.098701,-0.782645,-0.761574,-0.665161,...,-0.441157,-0.473204,-0.482807,-0.494610,-0.058277,0.116060,-0.484475,-0.891669,-1.109463,1.0
4,5.666614,5.679994,5.677228,5.622830,5.967205,4.645027,0.094460,-0.759591,-0.766009,-0.671178,...,-0.359466,-0.405824,-0.436926,-0.462700,-0.505674,-0.195023,0.096550,-0.318397,-0.581350,1.0

In [62]:
Data.shape

(847, 41)

In [64]:
X_train = Data.drop(40, axis=1)
y = Data[40]

In [66]:
random_forest_classifier(X_train, y, "random_forest_classifier_nonFidBonus.pkl")

115200 115200 115200
115200 115200 115200
115200 115200 115200
115200 115200 115200
115200 115200 115200
115200 115200 115200
120012 120012 120012
120012 120012 120012
120012 120012 120012
120012 120012 120012

In [36]:
non_fid_features, non_fid_features_values = non_fiducial_features(signals3)

In [37]:
non_fid_features_values = np.array(non_fid_features_values)
non_fid_features_values = non_fid_features_values.reshape(10,81)

In [38]:
non_fid_features_values.shape

(10, 81)

In [39]:
import pandas as pd
df_fid = pd.DataFrame(non_fid_features_values)
df_fid

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,15.961305,-16.147358,49.957671,7.223245,13.113433,8.156769,36.602683,86.711089,35.503631,130.251751,...,-0.041910,-0.115546,-0.037818,-0.107325,-0.032151,-0.096948,-0.026575,-0.089204,-0.023384,1.0
1,11.679354,-12.720458,43.093981,43.208929,-16.348405,18.907453,-16.471820,51.675627,33.412426,18.791809,...,0.248437,0.335041,0.105717,0.231548,0.039888,0.122809,0.010078,0.080247,0.009253,2.0
2,7.321660,-7.503761,32.308658,29.544112,-3.937882,93.228254,-21.680494,97.314181,30.208803,46.698747,...,0.322887,0.488925,0.357694,0.365475,0.340000,0.176276,0.173745,0.156947,-0.024217,3.0
3,23.483496,-24.200254,71.812292,-3.647732,28.712345,-7.288428,54.612573,72.132035,29.100850,136.257764,...,0.089755,-0.006896,0.062469,0.005187,0.044525,0.004718,0.030609,-0.005901,0.015483,4.0
4,7.159621,-5.964107,19.344678,9.922707,2.918072,7.841262,36.461122,69.727925,22.957439,100.376158,...,0.506488,0.326379,0.325121,0.061954,0.342474,-0.054273,0.215367,0.009097,0.123238,5.0
5,19.323972,-19.942999,42.031949,49.209136,-7.733786,8.484694,3.801432,4.992208,92.716425,-20.083402,...,0.017575,-0.098301,-0.014422,-0.158668,-0.030054,-0.165074,-0.028593,-0.127697,-0.014278,6.0
6,-5.682426,8.207733,26.497108,11.716179,15.263394,19.498810,54.975829,63.441319,132.896407,59.208126,...,-0.197153,0.207190,-0.178074,0.177463,-0.178115,0.131956,-0.198590,0.096310,-0.200265,7.0
7,1.462225,0.411287,3.662835,13.801019,-0.708683,11.642220,46.612040,11.159878,25.784784,47.133331,...,0.484791,0.203056,0.090635,0.200130,0.016582,0.003841,0.006014,-0.048309,-0.074280,8.0
8,-2.223655,3.901904,2.868681,11.349040,-6.034517,22.070113,-14.923905,62.838138,1.345239,52.871939,...,1.151501,0.961231,1.082970,1.025514,0.784331,0.881660,0.507263,0.549601,0.327205,9.0
9,17.593252,-17.610454,49.227540,-0.622000,23.153253,1.506058,42.362567,92.692051,15.131422,144.371904,...,0.199749,0.131396,0.131487,0.001178,-0.014773,-0.074083,-0.105666,-0.121838,-0.134351,10.0

In [40]:
x_train = non_fid_features_values[:7,:-1]
y_train = non_fid_features_values[:7,-1]

In [41]:
y_train

array([1., 2., 3., 4., 5., 6., 7.])

In [42]:
random_forest_classifier(x_train, y_train, "random_forest_classifier_nonFid.pkl")

In [67]:
fid_features, fid_features_values = Fiducial_Features(signals2)

115200 115200 115200
115200 115200 115200
115200 115200 115200
115200 115200 115200
115200 115200 115200
115200 115200 115200
120012 120012 120012
120012 120012 120012
120012 120012 120012
120012 120012 120012

In [68]:
type(fid_features_values)

list

In [69]:
df1 = pd.DataFrame(fid_features_values[0])
df2 = pd.DataFrame(fid_features_values[1])
df3 = pd.DataFrame(fid_features_values[2])
df4 = pd.DataFrame(fid_features_values[3])
df5 = pd.DataFrame(fid_features_values[4])
df6 = pd.DataFrame(fid_features_values[5])
df7 = pd.DataFrame(fid_features_values[6])

In [70]:
Data = pd.concat([df1, df2, df3, df4, df5, df6, df7], ignore_index=True)

In [71]:
Data.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,762.0,-0.218743,882.0,-0.139171,799.0,1.011308,749.0,-0.169465,851.0,-0.109030,...,704.0,-0.07705,-0.092504,1065.0,0.237156,983.0,1129.0,-0.047551,-0.029896,1.0
1,1672.0,-0.205465,1785.0,-0.140809,1709.0,0.966185,1659.0,-0.158040,1762.0,-0.111132,...,704.0,-0.07705,-0.092504,1976.0,0.240790,1890.0,2037.0,-0.053441,-0.026937,1.0
2,2585.0,-0.204541,2694.0,-0.127283,2623.0,0.975988,2572.0,-0.163129,2675.0,-0.097540,...,704.0,-0.07705,-0.092504,2888.0,0.225152,2803.0,2946.0,-0.056963,-0.005848,1.0
3,3444.0,-0.221023,3556.0,-0.141537,3481.0,1.046277,3430.0,-0.163625,3533.0,-0.113058,...,704.0,-0.07705,-0.092504,3744.0,0.225443,3672.0,3811.0,-0.035502,-0.037835,1.0
4,4289.0,-0.227211,4399.0,-0.145013,4326.0,1.080314,4275.0,-0.169533,4378.0,-0.114767,...,704.0,-0.07705,-0.092504,4590.0,0.234956,4517.0,4651.0,-0.037390,-0.010813,1.0

In [72]:
X_train = Data.drop(22, axis=1)
y = Data[22]

In [73]:
random_forest_classifier(X_train, y, "random_forest_classifier_Fid.pkl")